.customeBorder {
    position: relative;
    padding: 10px;
    background: #0E0E0E;
    margin: 5px;
    border-radius: 30px;
}

.customeBorder::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #D5AA6D 0%, rgba(115, 114, 114, 0) 100%);
}

.customeBorder2 {
    position: relative;
    padding: 10px;
    background: #0E0E0E;
    margin: 5px;
    border-radius: 30px;
}

.customeBorder2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #7a4e10 0%, rgba(216, 81, 165, 0) 100%);
}